@import "tailwindcss";

/* [data-theme="dark"], [data-theme="dark"] * {
  /* Add your dark theme styles here */
/* } */

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@layer base {
    * {
      box-sizing: border-box;
      margin: 0;
      /* Avoid resetting padding here unless necessary */
      padding: 0;
      text-decoration: none;
    }
  }
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.5;
  font-variation-settings: "wdth" 100;
}

.style-font {
  /* font-family: "Savate", sans-serif; */
  /* This is the font-style for particular text */
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 18px; */
}